.photo-grid {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    max-width: 1184px;
    justify-items: center;
    gap: 16px;
    width: 100%;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        width: 100%;
        gap: 14px;
    }
}

@media screen and (min-width: 321px) and (max-width: 1023px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
        width: 100%;
        gap: 16px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        gap:12px;
        width: 100%;
    }
}